.app {
	display: grid;
	align-items: center;
	justify-content: center;
}
main {
	text-align: center;
	display: grid;
	justify-content: center;
	justify-items: stretch;
	grid-template-rows: auto auto;
	column-gap: normal;
	grid-template-areas:
		'title title'
		'picture info';
}
textarea {
	width: 100%;
	height: 150px;
	margin-top: 15%;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 16px;
	resize: none;
}
.header {
	background-color: #ef5350;
	padding: 0.25ea 0.5em;
	height: 50px;
	align-items: center;
	display: flex;

	width: 100%;
}
img {
	max-width: 100%;
	max-height: 100%;
}
input {
	margin-right: 1%;
	margin-left: 1%;
	max-width: 20%;
}
.nav {
	display: flex;
	float: right;
}
.header-link {
	color: white;
	text-decoration: none;
}
header-link:visited {
	color: white;
}
.header-link:hover {
	text-decoration: underline;
}
.header-link:active {
	color: blue;
}
.title {
	grid-area: title;
}
.picture {
	grid-area: picture;
}
.info {
	grid-area: info;
}
.body {
	padding: 20px;
	max-width: 80%;
	margin: 50px auto;
}
.articleList-item {
	font-size: 1.5em;
	max-width: 100%;
	background: #eaeaea;
	border-style: solid;
	border-color: black;
	margin: 3%;
	text-align: center;
}
.articleListBody {
	font-size: 0.8em;
	color: black;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 100%;
	max-height: 60%;
	margin-bottom: 2%;
	color: black;
}
.article {
	font-size: 1em;
	color: black;
	max-width: 100%;
	max-height: 60%;
	margin-bottom: 2%;
	margin-left: 2%;
	margin-right: 2%;
	color: black;
}
#article-lower {
	text-align: center;
	display: grid;
	justify-content: center;
	justify-items: stretch;
	grid-template-columns: 30% auto;
	grid-template-rows: auto auto;
	column-gap: normal;
	grid-template-areas: 'left right';
}
.article-small {
	text-align: center;
	font-size: 0.8em;
	color: black;
	max-width: 100%;
	max-height: 60%;
	margin-top: 5%;
	margin-bottom: 2%;
	margin-left: 2%;
	margin-right: 2%;
	color: black;
}
.voteImage {
	width: 20px;
}
